#relate-post-types-meta-info {
}
	.relate-post-type-post-type-wrap {
	}
		.relate-post-type-autosuggest-wrap {
			position:relative;
		}
			.relate-post-type-autosuggest-results {
			}
				.relate-post-type-autosuggest-results ul {
					overflow:hidden;
					width:400px;
				}
					.relate-post-type-autosuggest-results ul li a {
						background-color:#fff;
						border:1px solid #666;
						color:#21759B;
						display:block;
						padding:.5em;
						text-decoration:none;
					}
					
					.relate-post-type-autosuggest-results ul li.active a,
					.relate-post-type-autosuggest-results ul li a:hover {
						background-color:#21759B;
						color:#fff;	
					}
